<div class="jumbotron" style="background-color: #e3c8c8; ">
    <h1>N1</h1>
    <p class="lead">Projeto de API apresentado na disciplina de Sistemas Distribuidos da Faculdade Engenheiro Salvador Arena, para composição da nota de N1.</p>
</div>
<div class="row">
    <ul>
        <li>Bruna Cristina Torres - <b>O81180005</b></li>
        <li>Laura Alves Ferreira - <b>O82180040</b></li>
        <li>Mariana Carnevale de Lima - <b>081180037</b></li>
        <li>Vittoria Cassoni - <b>081180039</b></li>
    </ul>
</div>
